{% extends 'base-admin.html.twig' %}

{% block title %}
    {{ parent() }} - Users
{% endblock %}

{% block body %}
<style>
.new_user {
    font-size: 70%;
}
</style>

<h1 style="text-align: center;">User index</h1>

<div class="container">
<a href="{{ path('admin_user_new') }}" class="new_user"><button type="button" class="btn btn-primary">➕ Create new</button></a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>AdressePostal</th>
                <th>Solde</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.adressePostal }}</td>
                <td>{{ user.solde }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
                    <a href="{{ path('admin_user_history', {'id': user.id}) }}">Commandes</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
