{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Commandes{% endblock %}

{% block body %}
<style>
  .img {
    width: 150px;
    heigth: 150px;
    position: absolute;
    right: 5px
  }
  h1 {
    text-align: center;
    margin: 2%;
  }
</style>
{% if commandeDetails %}
  <h1>Liste des commandes</h1>
  <div class="container">
    {% for commandeDetail in commandeDetails %}
    <ul class="list-group" style="margin: 2%;">
      <li class="list-group-item active" style="text-align: center;">Commande effectuée à {{ commandeDetail[0].restaurant.libelle }} par {{commandeMembers[loop.index - 1]}} | 
      {% if status[loop.index - 1] == false %}
        <p>En cours de préparation ... 🟠</p>
      {% else %}
        <p>Commande livrée 🟢</p>
      {% endif %}
      </li>
      {% for localCommandeDetail in commandeDetail %}
        <li class="list-group-item" style="height: 150px; text-align: center;"> - {{localCommandeDetail.libelle}} {{localCommandeDetail.prix}}€ <img class="img" src="{{localCommandeDetail.image}}">
        </li>
      {% endfor %}
      {% if status[loop.index - 1] == false %}
        <a href="{{path('update-status', {'id': commandesID[loop.index - 1]})}}"><button type="button" class="btn btn-outline-success" style="width: 100%;">Valider</button></a>
      {% endif %}
    </ul>
    {% endfor %}
    {% else %}
    <div class="jumbotron mt-3">
    <h1>Aucunes Commandes ⛔</h1>
  </div>
{% endif %}
{% endblock %}