{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{restaurant.libelle|title}}
{% endblock %}

{% block body %}
<style>
#contain_alert {
    with: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#alert_success {
    text-align: center;
    with: 50%;
}
</style>
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 my-5">{{restaurant.libelle|title}}</h1>
      <p><b>Description :</b> {{restaurant.description}}</p>
      <p><b>Adresse Postal :</b> {{restaurant.adresse}}</p>
    </div>
  </div>

<div id="contain_alert">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert_success">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">

    {% for plat in restaurant.plats %}
        {% if loop.first %}
            <div class="card-deck my-5">
        {% endif %}

        {% include "restaurant/plat.html.twig" with {'image': plat.image, 'libelle': plat.libelle, 'prix': plat.prix} %}

        {% if loop.index % 3 == 0 %}
            </div><div class="card-deck my-5">
        {% endif %}

        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
</div>
{% include "restaurant/shop.html.twig" %}
{% endblock %}