{% extends 'base-admin.html.twig' %}


{% block title %}
    {{ parent() }} - Restaurants
{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

<div class="container">
  <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
    {% for restaurant in restaurants %}
        <tr>
            <td>{{restaurant.libelle}}</td>
            <td>{{restaurant.description}}</td>
            <td><img style="height: 100px;" src="{{restaurant.image}}"></td>
            <td><a class="" href="{{path('admin_restaurant_show', {'id': restaurant.id})}}">Editer</a></td>
            <td><a class="" href="{{path('admin_delete_restaurant', {'id': restaurant.id})}}">Supprimer</a></td>
        </tr>
    {% endfor %}
       </tbody>
    </table>
</div>

    <a href="{{ path('admin_restaurant_new') }}">Create new</a>
{% endblock %}
