{% extends 'base-admin.html.twig' %}


{% block title %}
    {{ parent() }} - Restaurant
{% endblock %}

{% block body %}
<div class="container" style="margin-top: 2%;">
    <a href="{{ path('admin_add_plat_restaurateur', {'id': restaurant.id}) }}"><button type="button" class="btn btn-primary">Ajouter un plat</button></a>
    <a href="{{ path('admin_restaurant_edit', {'id': restaurant.id}) }}"><button type="button" class="btn btn-primary">Editer les informations du restaurant</button></a>
  <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Image</th>
                <th scope="col">Editer</th>
                <th scope="col">Supprimer</th>
            </tr>
        </thead>
        <tbody>
    {% for plat in restaurant.plats %}
        <tr>
            <td>{{plat.libelle}}</td>
            <td>{{plat.prix}} €</td>
            <td><img style="height: 100px;" src="{{plat.image}}"></td>
            <td><a class="" href="{{path('admin_edit_plat_restaurant', {'id': restaurant.id ,'plat_id': plat.id})}}">Editer</a></td>
            <td><a class="" href="{{path('admin_delete_plat_restaurant', {'id': restaurant.id ,'plat_id': plat.id})}}">Supprimer</a></td>
        </tr>
    {% endfor %}
       </tbody>
    </table>
</div>
{% endblock %}
