{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
<style>
.contain_button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
#alertMsg {
    text-align: center;
    width: 50%;
    margin-top: 2%;
}
#contain_alert {
    width: 100%;
    display: flex;
    alert-items: center;
    justify-content: center;
}
</style>

<div id="contain_alert">
{% for message in app.flashes('danger') %}
    <div class="alert alert-danger" id="alertMsg">
        {{ message }}
    </div>
</div>
{% endfor %}
<div class="container">
    <ul class="list-group list-group-flush" style="margin-top: 1%;">
      <li class="list-group-item list-group-item-secondary" style="text-align: center;">Récapitulatif de commande</li>
{% for plat in plats %}
        <li class="list-group-item" style="text-align: center;">
        {{plat.plats.libelle}} - {{plat.plats.prix}}€ 
        <a href="{{ path('delete_plat_order', {'id' : plat.plats.id})}}" ><button type="button" class="btn btn-outline-danger" style="margin-left: 2%;">Supprimer</button></a>
        </li>
    {% endfor %}
        </ul>
        <div class="contain_button">
            <a href="{{ path('commande_plat_order') }}"><button type="button" class="btn btn-outline-secondary">Commander</button></a>
        </div>
    </div>
{% endblock %}
